{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load fontawesome_5 %}

<html>
  <head>
    <title>
      Ebbamåla
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- A bit of a hack. Popper.js should really be included with bootstrap but isn't for some reason -->
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% fontawesome_5_static %}
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flag-icon.min.css' %}"/>
  </head>
  {% block base_content %}
  {% endblock %}
</html>
