{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load fontawesome_5 %}

<html>
  <head>
    <title>
      Ebbamåla
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% fontawesome_5_static %}
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flag-icon.min.css' %}"/>
  </head>
  {% block base_content %}
  {% endblock %}
</html>
