{% extends 'website/website.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title ml-1">
            {{ booking }}
          </h4>
          <hr/>
        </div>
        <div class="container mb-2">
          <div class="row">
            <div class="col-md-4">
              <p class="font-weight-bold">
                {% trans "Duration" %}
              </p>
            </div>
            <div class="col-md-6">
              {{ booking.start_date }} - {{ booking.end_date }}
            </div>
          </div>
        </div>
        <div class="container mb-2">
          <div class="row">
            <div class="col-md-4">
              <p class="font-weight-bold">
                {% trans "Description" %}
              </p>
            </div>
            <div class="col-md-6">
              <p class="card-text">
                {{ booking.description }}
              </p>
            </div>
          </div>
        </div>
        <div class="container mb-2">
          {% if user == booking.user or user.is_admin %}
            <hr />
            <div class="row">
              <div class="col-md-2">
                <form action="{{ request.path }}" method="post" class="mb-1">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-danger">
                    {% trans "Delete booking" %}
                  </button>
                </form>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
