{% extends 'website/website.html' %}

{% load fontawesome_6 %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% load form_errors %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  {% get_current_language as LANGUAGE_CODE %}
  {% if LANGUAGE_CODE != 'en' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.{{ LANGUAGE_CODE }}.min.js"></script>
    <script>
     $.fn.datepicker.defaults.language = '{{ LANGUAGE_CODE }}';
    </script>
  {% endif %}
  <script>
   $(function() {
     $('#id_start_date').datepicker({startDate: new Date()});
     $('#id_end_date').datepicker({startDate: new Date()});

     $('#id_start_date').datepicker().on('changeDate', function(e) {
       $('#id_end_date').datepicker('setStartDate', e.date);
     });

     $('#id_end_date').datepicker().on('changeDate', function(e) {
       $('#id_start_date').datepicker('setEndDate', e.date);
     });

     $('#booking_dates').datepicker({
       inputs: [$('#id_start_date'), $('#id_end_date')]
     });
   });
  </script>
{% endblock %}

{% block content %}
  {% form_errors form.non_field_errors %}
{% if booking %}
  <form action="{% url 'website:booking' booking.id %}" method="post" autocomplete="off">
    {% else %}
  <form action="{% url 'website:booking' %}" method="post" autocomplete="off">
{% endif %}
    {% csrf_token %}
    {% form_errors form.start_date.errors %}
    {% form_errors form.end_date.errors %}
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>
          {% trans "Dates" %}
        </label>
        <div class="input-group" id="booking_dates">
          {{ form.start_date }}
          <span class="input-group-text date-range-splitter">
            {% trans "to" %}
          </span>
          {{ form.end_date }}
        </div>
      </div>
    </div>
    {% form_errors form.description.errors %}
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="{{ form.user.id_for_label }}">
          {% trans "Reserved for" %}
        </label>
        {{ form.booker }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="{{ form.description.id_for_label }}">
          {% trans "Description" %}
        </label>
        {{ form.description }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        {% if booking %}
        <div class="form-row">
          <div class="form-group col-md">
            <button type="submit" name="update" id="update" class="btn btn-primary">
              {% trans "Update" %}
            </button>
          </div>
          <div class="form-group col-md">
            <button type="button" name="delete" id="delete" class="btn btn-danger" data-toggle="modal" data-target="#delete_booking_dialog">
              {% trans "Delete booking" %}
            </button>
          </div>
        </div>
        {% else %}
        <button type="submit" class="btn btn-primary">
          {% trans "Book" %}
        </button>
        {% endif %}
      </div>
    </div>
  </form>
  {% endblock %}
  {% block endbody %}
  <div class="modal fade" id="delete_booking_dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {% trans "Delete booking" %}
          </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>
              &times;
            </span>
          </button>
        </div>
        <div class="modal-body">
          {% blocktrans %}Are you sure you want to delete {{ booking }}?{% endblocktrans %}
        </div>
        <div class="modal-footer">
          <form action="{{ request.path }}" method="post" class="mb-0">
            {% csrf_token %}
            <input type="hidden" name="type" value="delete">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="submit" name="delete" class="btn btn-danger">{% trans "Delete booking" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
