{% load static %}
{% load i18n %}
{% load l10n %}
{% load fontawesome_6 %}
{% load template_revision %}
<html>
  <head>
    <title>
      {{ title }}
    </title>
    {% fontawesome_6_static %}
    <style>
     @page {
         size: a4 {{ orientation }};
     }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}" />
  </head>
  <body>
    {% with template_name='website/'|add:name|add:'.html' %}
      {% with revision=template_name|template_revision %}
        <h1 class="header text-center">{% trans title %} Ebbamåla {{revision|date:'F Y'|capfirst}}</h1>
      {% endwith %}
      {% include ""|add:template_name %}
    {% endwith %}
  </body>
</html>
