{% load static %}

<div class="container travel-guide">
  <h2>Velkommen til Ebbamåla</h2>
  <p>
    Allerførst tre ting, du <b>bare ikke må gøre</b>:
  </p>
  <ol>
    <li>
      Tænd aldrig varmvarmeren i badeværelset, før der er vand i den. Overtrædelse af dette straffes med ca. 4.000 kr. til ny vandvarmer plus en masse besvær. Tjek det ved at åbne for den varme hane. Hvis der kommer vand, kan du tænde.
    </li>
    <li>
      Brug aldrig mikroovnen med metal i den. Overtrædelse af dette straffes med ca. 7.000 kr. til ny ovn plus en masse besvær.
    </li>
    <li>
      Tænd aldrig ovnen i vildmarksbadet, før der er kommet vand til det øverste hul. Overtrædelse af dette kan ødelægge glasfiberen. Straffen og besværet er eksorbitant.
    </li>
  </ol>

  <p>
    Lån af huset er gratis og du er velkommen til at bruge af de ting, andre har efterladt, såsom olie, mel, krydderier, batterier, affaldsposer og hvad der ellers forefindes (bortset fra drikkevarer i kælderen, det er Kaspers lager).
  </p>
  <p>
    Men det er ikke uden omkostninger:
  </p>

  <ol class="legal">
    <li>
      Når du kommer til at ødelægge noget, skal det erstattes.
    </li>
    <li>
      Hvis du tømmer eller næsten tømmer noget, skal der fyldes op. Hvis du leder efter noget, som du ikke finder, er det god stil at købe og efterlade det.
    </li>
    <li>
      Du skal save og kløve noget mere brænde, end du bruger. Detaljer senere i denne guide.
    </li>
    <li>
      Ved ophold udover en weekend / et par dage er det er god stil at give et bidrag til husets og grundens vedligehold, f.eks. slå noget græs, rydde noget busk, fælde et træ, rense terrassen eller hvad du nu evner og ser et behov for.
    </li>
  </ol>

  <h2 class="page-break">Inden afrejse</h2>

  <h3>Sengetøj</h3>
  <p>
    Der er rigeligt med dyner og puder – men sengetøj medbringes
    hjemmefra.
  </p>

  <p>
    Der er 2 dobbeltsenge (160x200 cm.) i huset og 2 børnesenge
    (80x190 cm.). Derudover kan sofaen i stuen slås ud.
  </p>

  <h3>Håndklæder osv.</h3>
  <p>
    Der er et rimeligt udvalgt af håndklæder, viskestykker og
    karklude.  Hvis man bruger, er det god stil at tage det med hjem,
    vaske det og give det videre til den næste bruger.<br />
    Alternativt kan man selv tage med.
  </p>

  <h3>Køkken</h3>
  <p>
    Ovnen er kombineret almindelig ovn, varmluft ovn og
    mikrobølgeovn. Ved mikrobølgeovn: tag fade, bageplader og riste
    ud, men ribber i siden kan blive siddende
  </p>

  <h3>Transport</h3>
  <p>
    GPS koordinater: 500111, 15.471333<br />
    <a class="btn btn-link" href=https://www.google.com/maps/place/56%C2%B030'00.4%22N+15%C2%B028'16.8%22E/@56.500123,15.4691456,508m/data=!3m1!1e3!4m6!3m5!1s0x465650a1d077c105:0x176d43c0631d304c!7e2!8m2!3d56.5001229!4d15.4713343">
      <i class="fas fa-map-location-dot mr-1"></i>
      Placering på Google Maps
    </a>
  </p>
  <p>
    Der går tog direkte fra Østerport/Hovedbanen til Emmaboda.
  </p>
  <p>
    Billeje i Emmaboda:<br />
    <a class="btn btn-link" href="mailto:info@toyotaemmaboda.se"><i class="fas fa-envelope mr-1"></i>
      info@toyotaemmaboda.se
    </a>
    <br />
    De ligger 5 min fra stationen.
  </p>
  <hr />

  <h2>Ankomst</h2>
  <div class="clearfix">
    <img src="{% static 'info/travel_guide/power.jpg' %}" class="img-fluid rounded float-right" style="max-width: 30%;" />
    <h3>Tænd for strøm</h3>
    <p>
      Afbryder sidder i skabet over køleskabet.
    </p>

    <h3>Nøgle</h3>
    <p>
      Hvis du har glemt nøglen er koden til nøgleboks 1002.
    </p>

    <h3>Wifi</h3>
    <p>
      Netværksnavn: LaudrupRejser<br />
      Koden er 10 sekstaller (6666666666)
    </p>
  </div>
  <hr />

  <h2 class="page-break">Ankomst vinter</h2>
  <div class="clearfix">
    <img src="{% static 'info/travel_guide/open_water.jpg' %}" class="img-fluid rounded float-right" style="max-width: 30%;" />

    <h3>Alle punkter fra ankomst – herudover:</h3>
    <h3>Åbne Vand</h3>

    <ol style="list-style-type: lower-alpha;">
      <li>I kælder</li>
      <ol>
        <li>
          Luk Tappe ventil (Nederste grønne hane til venstre sættes vandret (er lodret på billede)
        </li>
        <li>
          Åben hane på pumpe (Blå hane sættes langs med rør, er på tværs på billede)
        </li>
        <li>
          Tjek at ledning til pumpe er i stikkontakt – tænd pumpen
        </li>
      </ol>

      <li>I huset</li>
      <ol>
        <li>
          Åben alle vandhaner<br />
          (Hvis de ikke er åbne allerede)
        </li>
        <li>
          Hvis vandet ikke løber:<br />
          <ul>
            <li>
              check at der er tændt for strømmen
            </li>
            <li>
              check pumpen i kælder er tænd
            </li>
            <li>
              check at der er tændt for pumpen i skab over køleskab
            </li>
          </ul>
        </li>
        <li>
          Sluk for det kolde vand på vandhaner
        </li>
        <li>
          Når der kommer konstant vand ud, kan varmtvandhanerne lukkes.
        </li>
        <li>
          Tænd varmtvandsbeholder (Temperatur skiven sættes i retning 'kl. 6')
        </li>
      </ol>
    </ol>
  </div>
  <hr />

  <h2>Afrejse</h2>

  <h3>Årerne fra båden skal hjem i skuret. Bådes låses.</h3>

  <h3>Lås skur</h3>
  <p>
    Døren i skuret låses med hængelåsen.
  </p>

  <h3>Lås kælder</h3>
  <p>
    (Ikke nødvendigt pt – kælderdøren kan ikke låses)
  </p>

  <h3>Terrassen ryddes</h3>
  <p>
    Stolene på terrassen med hynder sættes indenfor i stuen.
  </p>

  <h3>Elektronik sikres</h3>
  <p>
    Træk antennestikket ud af TV. Andet elektronik behøves ikke
    afkobles, da der lukkes for strømmen.
  </p>

  <h3>Køkken sikres mod mus</h3>
  <p>
    Husk at smide kaffefilter fra kaffemaskinen i skraldeposen.<br />
    Husk at fjerne brød i brødkassen.<br />
    Lad køleskabsdøren og fryserdøren stå åbne.
  </p>

  <h3>Opvaskemaskinen tømmes og opvask aftørres og sættes på plads.</h3>
  <p>
    Det er ufedt at komme op til andres opvask :-)
  </p>

  <p>
    Lad skabslågen til skabet under vasken i køkkenet (med affaldsspandene)
    stå åbent, når du forlader huset, så fugt kan komme ud
  </p>

  <h3>Affald tømmes</h3>
  <p>
    Madaffald skal være i BRUN affaldspose og lægges i Brun beholder ved vejen (poser kan fåes ved Ica i Långasjö og Vissefjärda).
  </p>
  <p>
    Papir, plast, flasker, aviser skal til Genbrugspladsen (FTI station)<br />
	  Långasjö: Allégården, bakom, Kyrkvägen 38<br />
	  Vissefjärda: Vid panncentralen, Industrigatan<br />
  </p>
  <p>
    Batterier og el skal til 	Möjligheternas Hus i Emmaboda.
  </p>
  <p>
    Restaffald i grøn beholder ved vejen.
  </p>

  <h3>Træk gardinerne for</h3>
  <p>
    Solen bleger møblerne.
  </p>

  <h3>Se efter om alle vinduer er lukkede</h3>

  <h3>Sluk for strømmen</h3>
  <p>
    Skabet over køleskabet slukkes på hovedafbryderen (ikke HFI relæ).
  </p>
  <h3>Lås terrassedør og hoveddør.</h3>
  <hr />

  <h2 class="page-break">Afrejse vinter</h2>

  <h3>All punkter for afrejse og derudover:</h3>

  <h3>Alt affald tages med – der tømmes ikke affald</h3>

  <h3>Lukke vand</h3>
  <div class="clearfix">
    <img src="{% static 'info/travel_guide/close_water.jpg' %}" class="img-fluid rounded float-right" style="max-width: 30%;" />
    <ol style="list-style-type: lower-alpha;">
      <li>I huset</li>
      <ol>
        <li>
          Sluk varmtvandsbeholder (temperaturskiven drejes mod uret, dvs
          forbi retningen 'kl. 3' og sættes i retning opad 'kl. 12')
        </li>
      </ol>

      <li>I kælder</li>
      <ol>
        <li>
          Forbind vandslange til tappeventil (under nederste grønne hane)
        </li>
        <li>
          Læg vandslange godt væk fra huset
        </li>
        <li>
          Sluk for pumpe (tryk på afbryder kontakten, lad bare stikket
          sidde i)
        </li>
        <li>
          Åben tappeventil (nederste grønne hane til venstre sættes
          lodret)
        </li>
      </ol>

      <li>I huset</li>
      <ol>
        <li>
          Åben alle vandhaner (tjek at der er åbent for både varmt og
          koldt vand i Køkken, ved håndvask og i badet)
        </li>
        <li>
          Skyld ud i toilet (sisternen tømmes)
        </li>
        <li>
          Hæld frostvæske i toiletkumme<br />
          Ved vinternedlukning, med udsigt til hård frost, hældes også
          frostvæske i håndvask, bruseafløb og køkkenvask
        </li>
      </ol>

      <li class="page-break">Varmt vand tappes</li>
      <ol>
        <li class="row">
          <p>
            Tjek at varmtvandsbeholder er tømt. Det tjekkes ved, at der
            drejes på den grå hane
          </p>
          <img src="{% static 'info/travel_guide/warm_water_1.jpg' %}" class="rounded mx-auto d-block p-3" style="max-width: 50%;" />
        </li>
        <li class="row">
          <p>
            Med svensknøgle løsnes møtrik bag toilettet, som vist med
            skruetrækker på billedet nedunder. Varmtvandsrør tømmes
            for vand. Det pibler ud stille og roligt, og kan godt tage
            et kvarters tid.  Sæt rørene sammen igen
          </p>
          <img src="{% static 'info/travel_guide/warm_water_2.jpg' %}" class="rounded mx-auto d-block p-3" style="max-width: 50%;" />
        </li>
        <li class="row">
          <p>
            Med svensknøgle løsnes møtrik under badeværelsesvasken,
            som vises med finger på billedet nedenunder. Varmtvandsrør
            tømmes. Der kommer en del vand. Husk at tørre godt af inde
            i skabet. Sæt rørene sammen igen
          </p>
          <img src="{% static 'info/travel_guide/warm_water_3.jpg' %}" class="rounded mx-auto d-block p-3" style="max-width: 50%;" />
        </li>
      </ol>
      <li>I kælder</li>
      <ol>
        <li>
          Når der ikke længere kommer vand ud af vandslangen:<br />
          Rul slangen sammen og læg den tilbage i kælderen
        </li>
        <li>
          Luk for blå hane (til højre): sættes på tværs af røret
        </li>
      </ol>
    </ol>
  </div>

  <hr />

  <h2 class="page-break">Diverse</h2>
  <div class="clearfix">
    <img src="{% static 'info/travel_guide/heating.jpg' %}" class="img-fluid rounded float-right" style="max-width: 30%;" />

    <h3>Varme i badeværelset</h3>
    <p>
      Hvis der er for koldt, eller varmet, i badeværelset, skal
      radiatoren ved gulvet nulstilles.
    </p>
    <p>
      Drej knappen så de to pile er synlige i ruden.<br />
      Tryk knappen ind i ca 1. sec (den blinker).<br />
      Herefter er den nulstillet til ca 21⁰C.<br />
    </p>

    <h3>Fjernsyn - DVD - VHS - Apple TV</h3>
    <p>
      Fjernsynet tændes med den hvide Samsung fjernbetjening.
    </p>
    <p>
      Video (VHS) er koblet til en TV kanal, og kan ses hvis man trykker TV på TV fjernbetjeningen
    </p>
    <p>
      Video fjernbetjenes med JVC fjernbetjeningen
    </p>
    <p>
      DVD er er koblet til Komponent på TV'et. Vælges som input.
    </p>
    <p>
      DVD fjernbetjenes med Philips fjernbetjeningen
    </p>
    <p>
      Apple TV er koblet til HDMI-1 på TV'et.
    </p>
    <p>
      Fjernebetjenes med Apple fjernbetjeningen.
    </p>

  </div>
</div>
