{% load static %}

<div class="container travel-guide">
  <h2>Inden afrejse</h2>

  <h3>Sengetøj</h3>
  <p>
    Der er rigeligt med dyner og puder – men sengetøj medbringes
    hjemmefra.
  </p>

  <h3>Håndklæder osv.</h3>
  <p>
    Der er et rimeligt udvalgt af håndklæder, viskestykker og
    karklude.  Hvis man bruger, er det god stil at tage det med hjem,
    vaske det og give det videre til den næste bruger.<br />
    Alternativt kan man selv tage med.
  </p>

  <h3>Transport</h3>
  <p>
    GPS koordinater: 500111, 15.471333<br />
    <a class="btn btn-link" href=https://www.google.com/maps/place/56%C2%B030'00.4%22N+15%C2%B028'16.8%22E/@56.500123,15.4691456,508m/data=!3m1!1e3!4m6!3m5!1s0x465650a1d077c105:0x176d43c0631d304c!7e2!8m2!3d56.5001229!4d15.4713343">
      <i class="fas fa-map-location-dot mr-1"></i>
      Placering på Google Maps
    </a>
  </p>
  <p>
    Der går tog direkte fra Østerport/Hovedbanen til Emmaboda.
  </p>
  <p>
    Billeje i Emmaboda:<br />
    <a class="btn btn-link" href="mailto:info@toyotaemmaboda.se"><i class="fas fa-envelope mr-1"></i>
      info@toyotaemmaboda.se
    </a>
    <br />
    De ligger 5 min fra stationen.
  </p>
  <hr />

  <h2>Ankomst</h2>
  <div class="clearfix">
    <img src="{% static 'info/travel_guide/power.jpg' %}" class="img-fluid rounded float-right" style="max-width: 30%;" />
    <h3>Tænd for strøm</h3>
    <p>
      Afbryder sidder i skabet over køleskabet.
    </p>

    <h3>Nøgle</h3>
    <p>
      Hvis du har glemt nøglen er koden til nøgleboks 1002.
    </p>

    <h3>Wifi</h3>
    <p>
      Netværksnavn: LaudrupRejser<br />
      Koden er 10 sekstaller (6666666666)
    </p>
  </div>
  <hr />

  <h2 class="page-break">Ankomst vinter</h2>
  <div class="clearfix">
    <img src="{% static 'info/travel_guide/water.jpg' %}" class="img-fluid rounded float-right" style="max-width: 30%;" />

    <h3>Alle punkter fra ankomst – herudover:</h3>
    <h3>Åbne Vand</h3>

    <ol style="list-style-type: lower-alpha;">
      <li>I kælder</li>
      <ol>
        <li>
          Luk Tappe ventil (Blå sættes vandret)
        </li>
        <li>
          Åben hane på pumpe (Rød sættes lodret)
        </li>
        <li>
          Tjek at ledning til pumpe er i stikkontakt – tænd pumpen
        </li>
      </ol>

      <li>I huset</li>
      <ol>
        <li>
          Åben alle vandhaner<br />
          (Hvis de ikke er åbne allerede)
        </li>
        <li>
          Hvis vandet ikke løber:<br />
          <ul>
            <li>
              check at der er tændt for strømmen
            </li>
            <li>
              check pumpen i kælder er tænd
            </li>
            <li>
              check at der er tændt for pumpen i skab over køleskab
            </li>
          </ul>
        </li>
        <li>
          Sluk for det kolde vand på vandhaner
        </li>
        <li>
          Når der kommer konstant vand ud, kan varmtvandhanerne lukkes.
        </li>
        <li>
          Tænd varmtvandsbeholder (Temperatur skiven sættes i retning 'kl. 6')
        </li>
      </ol>
    </ol>
  </div>
  <hr />

  <h2>Afrejse</h2>

  <h3>Årerne fra båden skal hjem i skuret. Bådes låses.</h3>

  <h3>Lås skur</h3>
  <p>
    Døren i skuret låses med hængelåsen.
  </p>

  <h3>Lås kælder</h3>
  <p>
    (Ikke nødvendigt pt – kælderdøren kan ikke låses)
  </p>

  <h3>Terrassen ryddes</h3>
  <p>
    Stolene på terrassen med hynder sættes indenfor i stuen.
  </p>

  <h3>Elektronik sikres</h3>
  <p>
    Træk antennestikket ud af TV. Andet elektronik behøves ikke
    afkobles, da der lukkes for strømmen.
  </p>

  <h3>Køkken sikres mod mus</h3>
  <p>
    Husk at smide kaffefilter fra kaffemaskinen i skraldeposen.<br />
    Husk at fjerne brød i brødkassen.<br />
    Lad køleskabsdøren og fryserdøren stå åbne.
  </p>

  <h3>Opvaskemaskinen tømmes og opvask aftørres og sættes på plads.</h3>
  <p>
    Det er ufedt at komme op til andres opvask :-)
  </p>

  <h3>Affald tømmes</h3>
  <p>
    Der må kun smides restaffald i skraldespanden ved vejen. Den
    tømmes ikke så tit, og det er træls for de næste ikke at komme af
    med affald.
  </p>
  <p>
    Tag alle flasker med hjem (eller til genbrug) – de skal ikke i
    skraldebøtten.<br />
    Aviser og blade tages med hjem (eller til genbrug).
  </p>

  <h3>Træk gardinerne for</h3>
  <p>
    Solen bleger møblerne.
  </p>

  <h3>Se efter om alle vinduer er lukkede</h3>

  <h3>Sluk for strømmen</h3>
  <p>
    Skabet over køleskabet slukkes på hovedafbryderen (ikke HFI relæ).
  </p>
  <h3>Lås terrassedør og hoveddør.</h3>
  <hr />

  <h2 class="page-break">Afrejse vinter</h2>

  <h3>All punkter for afrejse og derudover:</h3>

  <h3>Alt affald tages med – der tømmes ikke affald</h3>

  <h3>Lukke vand</h3>
  <div class="clearfix">
    <img src="{% static 'info/travel_guide/water.jpg' %}" class="img-fluid rounded float-right" style="max-width: 30%;" />
    <ol style="list-style-type: lower-alpha;">
      <li>I huset</li>

      <ol>
        <li>
          Sluk varmtvandsbeholder (temperaturskiven drejes mod uret, dvs
          forbi retningen 'kl. 3' og sættes i retning opad 'kl. 12')
        </li>
      </ol>

      <li>I kælder</li>

      <ol>
        <li>
          Forbind vandslange til tappeventil (under blå hane)
        </li>
        <li>
          Læg vandslange godt væk fra huset
        </li>
        <li>
          Sluk for pumpe (tryk på afbryder kontakten, lad bare stikket
          sidde i)
        </li>
        <li>
          Åben tappeventil (Blå sættes lodret)
        </li>
      </ol>

      <li>I huset</li>
      <ol>
        <li>
          Åben alle vandhaner<br />
          Varmt og koldt vand i Køkken, ved håndvask og i badet
        </li>
        <li>
          Skyld ud i toilet (sisternen tømmes)
        </li>
        <li>
          Hæld frostvæske i toiletkumme<br />
          Ved vinternedlukning, med udsigt til hård frost, hældes også
          frostvæske i håndvask, bruseafløb og køkkenvask
        </li>
      </ol>

      <li>I kælder</li>
      <ol>
        <li>
          Når der ikke længere kommer vand ud af vandslangen:<br />
          Rul slangen sammen og læg den tilbage i kælderen
        </li>
      </ol>
    </ol>
  </div>
</div>
