{% extends 'website/base.html' %}

{% load fontawesome %}
{% load activeurl %}
{% load static %}
{% load header_image %}
{% load i18n %}
{% load language_flag %}

{% block head %}
  {{ block.super }}
  <script>
    $(function() {
      $('.dropdown-menu a').click(function (e) {
        e.preventDefault();
        $('#lang-form input[name="language"]').val($(this).data('value'));
        $('#lang-form').submit();
      });
    });
  </script>
{% endblock %}

{% block base_content %}
  <body class="website">
    <div class="container bg-white my-xl-4">
      <div class="card-body">
        <div class="d-flex">
          <h3>
            Ebbamåla
          </h3>
          <div class="dropdown ml-auto mt-2">
            <a href="#" data-toggle="dropdown">{% language_flag %}</a>
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <div class="dropdown-menu dropdown-menu-right">
              {% for language in languages %}
                <a href="#" class="dropdown-item" data-value="{{ language.code }}">{% language_flag language.code %}<span class="ml-2 mt-3">{{ language.name_local|title }}</span></a>
              {% endfor %}
            </div>
          </div>
        </div>
        <nav class="navbar navbar-light navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-content">
            {% activeurl %}
            <ul class="navbar-nav mr-auto">
              <li>
                <a class="nav-item nav-link" href="{% url 'website:index' %}">{% trans "Frontpage" %} {% fontawesome_icon 'home' %}</a>
              </li>
              <li>
                <a class="nav-item nav-link" href="{% url 'website:info' %}">{% trans "Practical Information" %} {% fontawesome_icon 'info' %}</a>
              </li>
              <li>
                <a class="nav-item nav-link" href="{% url 'website:gallery' %}">{% trans "Photo Gallery" %} {% fontawesome_icon 'image' %}</a>
              </li>
              <li>
                <a class="nav-item nav-link" href="{% url 'website:calendar' %}">{% trans "Calendar" %} {% fontawesome_icon 'calendar' %}</a>
              </li>
              {% if user.is_superuser %}
                <li>
                  <a class="nav-item nav-link" href="{% url 'admin:index' %}">{% trans "Administration" %} {% fontawesome_icon 'cog' %}</a>
                </li>
              {% endif %}
            </ul>
          {% endactiveurl %}
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/accounts/logout">{% trans "Logout" %} {% fontawesome_icon 'sign-out' %}</a>
            </div>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <img class="mw-100" src="{% header_image %}" alt="Banner" />
      </div>
      <div class="card-body">
        <main role="main">
          {% block content %}
          {% endblock %}
        </main>
      </div>
      <div class="card-body">
        <div class="footer container mb-2">
          <div class="float-right">
            <a href="http://www.djangoproject.com/">
              <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django." />
            </a>
          </div>
        </div>
      </div>
    </div>
    <form action="{% url 'set_language' %}" method="post" id="lang-form" class="d-none">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}" />
      <input name="language" type="hidden" />
      <input type="submit" />
    </form>
    {% block endbody %}
    {% endblock %}
  </body>
{% endblock %}
