{% load static %}

<p>
<figure class="figure">
  <img src="{% static 'info/wilderness_bath/wilderness_bath1.jpg' %}"  class="figure-img img-fluid rounded" />
  <figcaption>
    Tag låget af og læg det med buen opad som vist på billedet.
  </figcaption>
</figure>
</p>

<p>
<figure class="figure">
  <img src="{% static 'info/wilderness_bath/wilderness_bath2.jpg' %}"  class="figure-img img-fluid rounded" />
  <figcaption>
    Luk for vandudslusningen på karet.
  </figcaption>
</figure>
</p>

<p>
<figure class="figure">
  <img src="{% static 'info/wilderness_bath/wilderness_bath3.jpg' %}"  class="figure-img img-fluid rounded" />
  <figcaption>
    Tag vandslangen og fyld op.
  </figcaption>
</figure>
</p>

<p>
<figure class="figure">
  <img src="{% static 'info/wilderness_bath/wilderness_bath4.png' %}"  class="figure-img img-fluid rounded" />
  <figcaption>
    Når karet er fyldt med vand, må du tænde op i pejsen <b>ALDRIG
    FØR</b>.
  </figcaption>
</figure>
</p>

<p>
<figure class="figure">
  <img src="{% static 'info/wilderness_bath/wilderness_bath5.jpg' %}"  class="figure-img img-fluid rounded" />
  <figcaption>
    Rør rundt, mål temperaturen med lyserød fisk og saml blade mm med
    sien.
  </figcaption>
</figure>
</p>

<p>
<figure class="figure">
  <img src="{% static 'info/wilderness_bath/wilderness_bath6.jpg' %}"  class="figure-img img-fluid rounded" />
  <figcaption>
    Når vandet er varmt – efter mange timer, hæng dit tøj og gå i bad.
  </figcaption>
</figure>
</p>

<p>
<figure class="figure">
  <img src="{% static 'info/wilderness_bath/wilderness_bath7.jpg' %}"  class="figure-img img-fluid rounded" />
  <figcaption>
    Når du er færdig, tøm bassinet, rengør med klud og mild håndsæbe
    eller opvaskemiddel mens karet tømmes, rens pejsen og læg brænde
    og aske over på bålpladsen.
  </figcaption>
</figure>
</p>
