{% load static %}

<p>
  Brænde til bål, pejs osv. kan findes i skuret. Man er <strong>meget</strong> velkommen til at hjælpe med at hugge nyt brænde. Ejerne vil sætte pris på, hvis man efterlod mere brænde end der er blevet brugt, dog naturligvis kun i det omfang det er muligt.
</p>
<p>
  Brændet sorteres i fire bunker, brænde der skal hugges, det nyhuggede, det der ligger til tørre og det der kan bruges som brændsel. Vær opmærksom på, at malet eller trykimprægneret træ ikke må brændes af og derfor heller ikke skal lægges til tørre.
</p>
<p>
  De fire bunker er markeret med farver. Billedet nedenfor illustrerer hvilke bunker der bruges til hvad.
</p>
<p>
  <div class="figure">
    <img src="{% static 'info/wood/wood.jpg' %}"  class="wood" style="width: 100%;" />
  </div>
</p>
