{% load static %}
<p>
  Brænde til bål, pejs osv. kan findes i skuret. Man er <strong>meget</strong> velkommen til at hjælpe med at hugge nyt brænde. Ejerne vil sætte pris på, hvis man efterlod mere brænde end der er blevet brugt, dog naturligvis kun i det omfang det er muligt.
</p>
<p>
  Der skulle være rigeligt af træ at tage af og hugge op fra området omkring skuret.
</p>
<p>
  Brænde sorteres i tre zoner markeret med farvede flytbare brædder:
</p>
<ul>
  <li>
    Blå-Zone: her lægges brænde i år.
  </li>
  <li>
    Rød-Zone: rør ikke. Her tørrer brænde fra sidste år.
  </li>
  <li>
    Grøn-Zone: tag brænde herfra nu.
  </li>
</ul>

<p>
  <figure class="figure">
    <img src="{% static 'info/wood/wood_blue.jpg' %}" class="figure-img img-fluid rounded" style="max-width: 30%;"/>
    <figcaption>
      Blå zone - Nyophugget brænde. Billede fra 2025.
    </figcaption>
  </figure>
</p>

<p>
  <figure class="figure">
    <img src="{% static 'info/wood/wood_red.jpg' %}" class="figure-img img-fluid rounded" style="max-width: 30%;" />
    <figcaption>
      Rød zone - Brænde til tørre. Billede fra 2025.
    </figcaption>
  </figure>
</p>

<p>
  <figure class="figure">
    <img src="{% static 'info/wood/wood_green.jpg' %}" class="figure-img img-fluid rounded" style="max-width: 30%;" />
    <figcaption>
      Grøn zone - Brænde klar til brug. Billede fra 2025.
    </figcaption>
  </figure>
</p>

<p>
  Hvert år om foræret vil brædderne flyttest et trin til højre, således brænde der har ligget til tørre nu ligger i grøn zone osv.
</p>
<p>
  Vær opmærksom på, at malet eller trykimprægneret træ ikke må brændes af og derfor heller ikke skal lægges til tørre.
</p>
