atomicwrites
attrs
beautifulsoup4
bs4
certifi
chardet
coverage
Django==4
git+https://github.com/christianwgd/django-activeurl.git@django40
django-appconf
django-bootstrap4
django-classy-tags
django-configurations
django-fontawesome-5
django-imagekit
django-markdownx>=4.0.0b1
django-nose
flake8
gunicorn
idna
lxml
Markdown
more-itertools
pbr
piexif
pilkit
Pillow
pluggy
pyfakefs
pytz
PyYAML
requests
salling-group-holidays
six
urllib3
