Django==4.2.22
Markdown
Pillow
PyYAML
atomicwrites
attrs
beautifulsoup4
bs4
certifi
chardet
coverage
coveralls
django-appconf
django-bootstrap4
django-classy-tags
django-configurations
django-fontawesome-6
django-ical
django-imagekit
django-markdownx
weasyprint
django-weasyprint
flake8
freezegun
git+https://github.com/christianwgd/django-activeurl.git@django40
gunicorn
git+https://github.com/ics-py/ics-py@v0.8.0-dev0
idna
lxml
more-itertools
pbr
piexif
pilkit
pluggy
pyfakefs
pypdf
pytz
requests
salling-group-holidays
six
tzdata
urllib3
