.calendar-buttons
.btn
{
    box-shadow:
        inset 0px 11px 8px -10px rgba(0, 0, 0, .4),
        inset 0px -11px 8px -10px white;
    border: 0;
}

.calendar
.weeks {
    display: flex;
}

.calendar
.week {
    flex: 1;
    min-width: 33px;
    text-align: center;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding: 4px;
}

.calendar
.week-row {
    display: flex;
    width: 100%;
}

.calendar
.week-number {
    min-width: 30px;
    border-right: 1px solid #e0e0e0;
    padding: 4px;
}

.calendar
.day-cell {
    flex: 1;
    min-width: 33px;
    min-height: 100px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: hsla(0,0%,58%,.1);
    padding: 4px;
}

.calendar
.day-cell.current-month.selectable:hover
{
    background: #e0e0e0;
}

.calendar
.day-cell.current-month a:hover {
    text-decoration: none !important;
}

.calendar
.day-number {
    text-align: right;
    color: rgba(0,0,0,.25);
    font-size: 1em;
}

.calendar
.day-cell
.booking {
    font-size: 75%;
    margin-left: 11px;
    margin-right: 10px;
    width: 100%;
    background: green;
    box-shadow:
        inset 0px 11px 8px -10px rgba(0, 0, 0, .4),
        inset 0px -11px 8px -10px white;
}

.calendar
.day-cell
.booking.first
{
    border-radius: 5px 0px 0px 5px;
    margin-left: 13px;
}

.calendar
.day-cell
.booking.last
{
    border-radius: 0px 5px 5px 0px;
    margin-right: 13px;
}

.calendar
.current-month {
    background: #fff;
}

.calendar
.current-month
.day-number {
    color: rgba(0,0,0,.5);
    font-size: 1.5em;
}

.calendar
.weekend
.day-number {
    color: rgba(210,2,2,.6);
}

.calendar
.today {
    background-color: #e8fde7;
}

.calendar
.today
.day-number {
    font-size: 1.8em;
    font-weight: 700;
    color: #367016;
    margin-top: -4px;
    margin-bottom: -3px;
}
